/* RESET  */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* COMMON RULES */

.circle {
      border-radius: 50%;
}

.tiny-text {
      font-size: 0.6rem;
      color: #b1b1b1;
}

button {
      border: none;
      font-size: 1.2rem;
      padding: 0.45rem;
      background-color: #eaeaea;
}

::placeholder {
      color: gray;
      padding-left: 0.7rem;
}

input:focus {
      outline: none;
}

 /* ------------------------------------------------------------------------ */

#app {
      height: 100vh;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      background: rgb(0, 150, 136);
      background: linear-gradient(180deg, rgba(0, 150, 136, 1) 20%, rgba(234, 234, 234, 1) 20%, rgba(210, 219, 220, 1) 100%);
      display: flex;
      justify-content: center;
      align-items: center;
}

#app .container {
      width: 90%;
      height: 94vh;
}

.left-side {
      height: 100%;
      width: 35%;
      float: left;
      border-right: 1px solid lightgray;
}

.right-side {
      height: 100%;
      width: 65%;
      float: left;
}

.left-side header,
.right-side header,
.right-side footer {
      height: 8%;
      background-color: #eaeaea;
}

.left-side header,
.right-side header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.4rem;
}

.left-side header .user,
.right-side header .user {
      height: 100%;
      display: flex;
      align-items: center;
}

.left-side header .user p,
.right-side header .user p {
      margin-left: 0.45rem;
}

.left-side header .user img,
.right-side header .user img {
      height: 100%;
}

.left-side header button,
.right-side header button {
      color: #b1b1b1;
}

.left-side .alerts {
      background-color: #8edafc;
      height: 10%;
      display: flex;
      align-items: center;
}

.left-side .alerts .circle {
      background-color: white;
      height: 7vh;
      width: 7vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0.8rem;
      margin-right: 0.6rem;
}

.left-side .alerts .circle i {
      color: #8edafc;
}

.left-side .alerts .desktop-alerts p {
      font-size: 0.8rem;
}

.left-side .alerts .desktop-alerts a {
      font-size: 0.7rem;
      color: gray;
}

.left-side .search-bar {
      background-color: #eaeaea;
      height: 6%;
      padding: 0.35rem;
      display: flex;
}

.left-side .search-bar div {
      height: 100%;
      width: 15%;
      color: #b1b1b1;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
}

.left-side .search-bar input {
      height: 100%;
      width: 85%;
      border: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
}

.left-side .search-bar input::placeholder {
      font-size: 0.7rem;
}

.left-side main {
      background-color: white;
      height: 76%;
}

.left-side main ul {
      height: 100%;
      list-style: none;
}

.left-side main ul li {
      height: 11%;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-top: 1px solid lightgrey;
      padding: 0.4rem;
}

.left-side main ul li:hover {
      background-color: #e9ebeb;
}

.left-side main ul li img {
      height: 100%;
      margin-left: 0.6rem;
      margin-right: 0.6rem;
}

.left-side main ul li .contact {
      flex-grow: 1;
}

.left-side main ul li .last-message {
      text-align: end;
}

.right-side main {
      background-image: url("../img/mine.jpg");
      height: 84%;
      padding: 5% 10%;
}

.right-side main ul {
      list-style: none;
}

.right-side main ul li {
      display: flex;
}

.right-side main ul .right {
      justify-content: end;
}

.right-side main ul li .msg {
      min-width: 40%;
      max-width: 90%;
      font-size: 0.8rem;
      padding: 0.7rem;
      margin-bottom: 0.3rem; 
      border-radius: 0.5rem;
      position: relative;
}

.right-side main ul li .sent {
      background-color: #d5f9ba;
}

.right-side main ul li .received {
      background-color: white;
}

.right-side main ul li .msg-time {
      font-size: 0.5rem;
      color: #b1b1b1;
      position: absolute;
      bottom: 0.3rem;
      right: 0.3rem;
}

.right-side footer {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
}

.right-side footer input {
      height: 100%;
      width: 85%;
      border: none;
      border-radius: 5px;
}

.right-side footer input::placeholder {
      font-size: 0.8rem;
}

.right-side footer button {
      color: gray;
}