<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Boolzapp</title>
            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
                  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
                  crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="css/style.css">
      </head>
      <body>
            
            <div id="app">

                  <div class="container">
                        
                        <div class="left-side">
                              
                              <header>
                                    <div class="user">
                                          <img class="circle" src="img/avatar_io.jpg" alt="">
                                          <p>Pedro</p>
                                    </div>

                                    <div>
                                          <button><i class="fa-solid fa-circle-notch"></i></button>
                                          <button><i class="fa-solid fa-message"></i></button>
                                          <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                    </div>
                              </header>

                              <div class="alerts">
                                    <div class="circle">
                                          <i class="fa-solid fa-bell-slash"></i>
                                    </div>

                                    <div class="desktop-alerts">
                                          <p>Ricevi notifiche di  nuovi messaggi</p>
                                          <a href="#">Attiva notifiche desktop</a>
                                    </div>
                              </div>

                              <div class="search-bar">
                                    <div><i class="fa-solid fa-magnifying-glass"></i></div>
                                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                              </div>

                              <main>
                                    <ul>
                                          <li v-for="(contact, index) in contacts" @click="clickedContact(index)">
                                                <img class="circle" :src=" 'img/avatar' + contact.avatar + '.jpg' " alt="">
      
                                                <div class="contact">
                                                      <p> {{contact.name}} </p>
                                                      <p class="tiny-text">Ultimo messaggio inviato</p>
                                                </div>
      
                                                <div class="last-message tiny-text">
                                                      12:00
                                                </div>
                                          </li>
                                    </ul>
                              </main>

                        </div>

                        <div class="right-side">

                              <header>
                                    <div class="user">
                                          <img class="circle" :src=" 'img/avatar' + contacts[selectedContact].avatar + '.jpg' " alt="">

                                          <div class="contact-name">
                                                <p>{{ contacts[selectedContact].name }}</p>
                                                <p class="tiny-text">Ultimo accesso oggi alle 12:00</p>
                                          </div>
                                    </div>
                                    
                                    <div>
                                          <button><i class="fa-solid fa-magnifying-glass"></i></button>
                                          <button><i class="fa-solid fa-paperclip"></i></button>
                                          <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                                    </div>
                              </header>

                              <main>
                                    <ul>
                                          <li v-for="message in contacts[selectedContact].messages" :class="message.status == 'sent' ? 'right' : '' ">
                                                <div class="msg" :class="message.status == 'sent' ? 'sent' : 'received' ">
                                                      {{ message.message }}

                                                      <div class="msg-time">
                                                            12:00
                                                      </div>
                                                </div>
                                          </li>
                                    </ul>
                              </main>

                              <footer>
                                    <button><i class="fa-regular fa-face-smile"></i></button>
                                    <input v-model="newMsg" @keyup.enter="newMessage" type="text" placeholder="Scrivi un messaggio">
                                    <button><i class="fa-solid fa-microphone"></i></button>
                              </footer>
                              
                        </div>

                  </div>      

            </div>
            
            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
            <script type="text/javascript" src="js/scripts.js"></script>
      </body>
</html>